*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 100%;
    background: rgb(16, 16, 27);
    color: rgb(189, 132, 206);
    
}



.solarSystem{
    width: 100%;
    min-height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sun{
    display: block;
    width: 100px;
    height: 100px;
    background: rgb(255, 210, 60);
    border-radius: 50%;
    box-shadow: 0px 0px 150px rgb(255, 210, 60);
    position: absolute;
    
    
}

/*Planeta 1 laranja*/

.planet1Orbit{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 1px solid gray;
    position: absolute;
    top: 250px;
    
    
}
.planet1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 10;
    animation: planet1Translate  10s  linear infinite;
    position: absolute;
    box-shadow: 0 0 100px rgb(199, 60, 10);
}


.planet1Child{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 10;
    background: linear-gradient(rgb(199, 60, 10), rgb(230, 116, 71));
    animation: planet1Rotate 10s linear infinite;
    position: absolute;
}

/*.planet1Moon{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 10;
    background: radial-gradient(rgb(104, 104, 104), rgb(56, 57, 63));
    animation: planet1Moon 5s linear infinite;
    position: absolute;
}*/


/*planeta 2 azul*/


.planet2{
    width: 50px;
    height: 50px;
    background: radial-gradient(rgb(23, 9, 153), rgb(27, 96, 223));
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    animation: planet2Rotate 35s linear infinite;
    box-shadow: 0 0 100px rgb(23, 9, 153);
}

.planet2Orbit{
    height: 600px;
    width: 600px;
    border-radius: 50%;
    border: 1px solid gray;
    position: absolute;
    top: 150px;
}





@keyframes planet1Translate{
    from{
        transform: rotate(0deg)
        translateX(200px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(199px) rotate(-360deg);
    }
}


@keyframes planet1Rotate{
    from{
        transform: rotate(90deg);
    }
    to{
        transform: rotate(450deg);
    }
}

@keyframes planet1Moon{
    from{
        transform: rotate(0deg) translate(10px) ;
    }
    to{
        transform: rotate(360deg) translate(10px) ;
    }
}


@keyframes planet2Rotate{
    from{
        transform: rotate(0deg) translateX(300px) rotate(0deg)
    }
    to{
        transform: rotate(360deg) translateX(300px) rotate(-360deg);
    }
}